body, html{
  height:100%;
}
body{
  margin: 0px;
  padding: -100px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  font-size: 2em;
  color: black;
  width: 4em;
}

.dancer-head, .dancer-body{
  position: absolute;
}

.whip .dancer-head {
  top: -1em;
  left: 1em;
  z-index: 1;
}

.nae .dancer-head {
  top: 1.25em;
  left: 1em;
  z-index: 1;
}

.dancer-body {
  z-index: 0;
}
.dancer-head:hover {
  transform: scale(3);
}
